@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
}

h1{
    font-family: 'Fira Sans', sans-serif;
}

p{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
}

main {
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
    text-align: center;
}

input[type="text"]{
    padding: 10px 15px;         /* Padding inside the input */
    margin: 20px 0;             /* Space above and below the input */
    border: 2px solid #0f2f76;
    border-radius: 5px; /*rounded corners*/
    color: #0f2f76;
    background-color: white;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

.form-field{
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    button {
        padding: 10px 20px;
        background-color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        text-decoration: none
    }

    button a {
        text-decoration: none;
        color: #0f2f76;
    }
  }

.interest-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.interest-button:hover {
    background-color: #e0e0e0;
}

a:link{
    text-decoration: none;
    font-weight: bold;
    color: #0f2f76;
}

a:visited{
    color: #0f2f76;
}

