@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
    background-color: #d6eaf4;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/

    .donation-page{
      display: block;
    }
}

body.donation-page {
  display: block; /* Disable centering for the donation page */
  padding: 20px; /* Ensure content doesn't touch edges */
}

h1{
    font-family: 'Fira Sans', sans-serif;
    color: #0f2f76;
}

p{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    color: #0f2f76;
}

main {
    justify-content: center; /*horizontally*/
    align-items: center; /*vertically*/
    text-align: center;
}

input, select {
    padding: 10px 15px;         /* Padding inside the input */
    margin: 20px 0;             /* Space above and below the input */
    border: 2px solid #0f2f76;
    border-radius: 5px; /*rounded corners*/
    color: #0f2f76;
    background-color: white;
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
}

.form-field{
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;

    button {
        padding: 10px 20px;
        background-color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        color: #0f2f76;
    }

    button:hover{
        background-color: #6bb4df;
    }

    button a{
      color: #0f2f76;
    }
  }

.interest-panel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.interest-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.interest-button:hover {
    background-color: #e0e0e0;
}

.interest-button.clicked {
    background-color: #6bb4df;
  }

a:link{
    text-decoration: none;
    font-weight: bold;
    color: #6bb4df;
}

a:visited{
    color: #6bb4df;
}

.dashboard {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    margin: 0;
  }

.top-image {
    position: absolute; 
    top: 0; 
    left: 50%;
    transform: translateX(-23%); 
    width: auto; 
    margin: 0; 
  }
  
  .top-image img {
    width: 50%;
    height: auto;
    margin: 5% 0%;
  }

  .top-left-image {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .top-left-image img {
    width: 15%;
    height: auto;
  }
  

  #dashboard-welcome {
    font-size: 15px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
  }

  #instructions {
    position: fixed;
    bottom: 100px;
    font-size: 15px;
  }

  .left-div {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-right: 200px;
  }

  .right-div {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-left: 200px;
  }

  .tiny-box
  {
    font-size: 15px;
  }

  .middle-div { /* container */
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;
  }

  .middle-div > *:first-child {
    border: 3px solid #0f2f76; 
    border-radius: 10px; 
    padding: 20px; 
}

  .arrow {
    border: solid black;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 200px;
    border: solid darkgreen;
    border-width: 0 3px 3px 0;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 200px;
    border: solid red;
    border-width: 0 3px 3px 0;
  }

  .error{
    color: darkred;
  }